{% load i18n %} {% load static %}
<footer>
  <!-- footer first section -->
  <div class="beema-section" style="background-color:#EFEFEF;" >
    <div class="container">
      <div class="row">
        <div class="col m3 s12">
          <h2 class="header-title">{% trans "about" %}</h2>
          <ul>
            <li>
              <a href="#">{% trans "About us" %}</a>
            </li>
            <li>
              <a href="#">{% trans "FAQ" %}</a>
            </li>
            <li>
              <a href="#">{% trans "News & Events" %}</a>
            </li>
            <li>
                <a href="#">{% trans "Site map" %}</a>
              </li>
          </ul>
        </div>
        <div class="col m3 s12">
          <h2 class="header-title">{% trans "Resources" %}</h3>
            <ul>
                <li>
                    <a href="#">{% trans "Gallery" %}</a>
                  </li>

              <li>
                <a href="#">{% trans "RBS Mobile App" %}</a>
              </li>
              <li>
                <a href="#">{% trans "Reports" %}</a>
              </li>
              <li>
                  <a href="#">{% trans "Video" %}</a>
                </li>
            </ul>
        </div>
        <div class="col m3 s12">
          <h2 class="header-title">{% trans "Quick Service Links" %}</h2>
          <ul>
            <li>
              <a href="#">{% trans "Articles" %}</a>
            </li>

            <li>
              <a href="#">{% trans "Branches and Networks" %}</a>
            </li>

            <li>
              <a href="#">{% trans "Claim Information" %}</a>
            </li>
            <li>
              <a href="#">{% trans "Financial statements" %}</a>
            </li>

          </ul>
        </div>
        <div class="col m3 s12">
          <h2 class="header-title">{% trans "Contact Information" %}</h2>
          <ul>
            <li><strong>{% trans "Rastriya Beema Sasthan" %}</strong></li>
            <li><i class="fa fa-map-marker"></i>&nbsp; R.B.S Building, Ramshahpath</li>
            <li><i class="fa fa-phone"></i>&nbsp; 00977-1-4262520</li>
            <li><i class="fa fa-envelope-o"></i>&nbsp;<a href="mailto: info@beema.com.np">info@beema.com.np</a></li>
            <li>Fax: &nbsp;00977-1-4262610</li>
            <li>Web: www.beema.com.np</li>
            <li>Po Box: &nbsp;527, Kathmandu </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="beema-section2">
    <div class="container">
      <div class="row" style="margin-bottom:0px;">
        <div class="col s12 hide-on-small-only">
          <!-- secondary menu -->
          <ul class="center">
            <li>
              <a href="#">Site map</a>
            </li>
            <li>
              <a href="#">Careers</a>
            </li>
            <li>
              <a href="#">Contact Us</a>
            </li>
            <li>
              <a href="#">Terms of Use</a>
            </li>
            <li>
              <a href="#">Privacy Policies</a>
            </li>
            <li>
              <a href="#">Our Branches</a>
            </li>
          </ul>
        </div>
        <!-- social links -->
        <div class="col s12 center">
          <!-- secondary menu -->
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-google"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>

       

        <!-- copy right -->
        <p class="center text-flow white-text">
          &copy;
          <span id="copyyear"></span>
        </p>
        <p class="center white-text">Designed and Developed By
          <a href="https://manojgautam.com.np" class="white-text"><strong>Manoj Gautam</strong></a>
        </p>
      </div>
    </div>
  </div>



  <script>
    var currentYear = new Date().getFullYear();
    document.getElementById("copyyear").innerHTML = currentYear;
  </script>
</footer>