{% extends "base.html" %}
{% load static %}
{% block body_class %}template-homepage{% endblock %} {% block content %}
{% load i18n %}
<style>
</style>

<!-- notice bar -->
<section class="notice-section">
  <div class="container">
    <div class="row">

      <div class="col s4 m3 news-heading hide-on-small-only" style="line-height:40px; ">
        LATEST NEWS AND EVENTS
        <i class="fa fa-caret-right"></i>
      </div>
      <div class="col s8 m6" >

        <ul class="newsticker" style="margin-top:0px;">
          <li>
            <a href="#">Etiam imperdiet volutpat libero eu tristique.</a>
          </li>

          <li>
            <a href="#">Etiam imperdiet volutpat libero eu tristique.</a>
          </li>

          <li>
            <a href="#">Etiam imperdiet volutpat libero eu tristique.</a>
          </li>

          <li>
            <a href="#">Etiam imperdiet volutpat libero eu tristique.</a>
          </li>

        </ul>


      </div>

      <div class="col m3  hide-on-small-only  left" style="font-size:1.4rem;">
        <span style="cursor:pointer;" id="prev-button">
          <i class="fa fa-caret-left"></i>
        </span>
        <span style="cursor:pointer;" id="next-button">
          <i class="fa fa-caret-right"></i>
        </span>
      </div>



    </div>
  </div>
</section>


<!-- CAROUSEL -->
<div class="carousel carousel-slider ">
  <div style="background:  linear-gradient(45deg, rgba(100, 100, 100,.2), rgba(0, 0, 0,.7) 70%), url('{% static 'img/life_insurance_1.jpg' %}');background-size:cover;"
    class="carousel-item white-text beema-carouse-background " href="#one!">

      <div class="container">
        <div class="row">
            <div class="col m6 hide-on-small-only">
            </div>
            <div class="col m6 s12" style="padding: 0px 50px">
              <h1 class="carousel-heading">JEEVAN BEEMA</h1>
              <p class="text-flow carousel-text align-left">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptatem molestias sapiente non voluptate, aperiam tempore neque eligendi suscipit expedita qui necessitatibus quos. Debitis dolorum nam qui quaerat, iure autem.</p>
              <button class="waves-effect waves-light btn btn-beema ">Browse Product</button>
              
            </div>
        </div>
      </div>

  </div>
</div>


<style>
  .media-release-heading {
    font-size: 1.3rem !important;
   

  }

  .media-release div > div > div{
      line-height: 40px;
      padding: 20px;
      color: #2555AF;
      font-weight: 500;
     
      
  }

  .media-release p{
    color: #555555;
    font-weight: 500;
    font-size: 0.8rem;
    letter-spacing: 0.8px;
    line-height: 16px;
    margin-bottom: 20px;
}

.media-release p img {
  float: left;
  margin-right: 10px !important;
  font-weight: 300 !important;
}

.media-release p span {
  font-size: .8rem !important;
}


</style>

<!-- Introduction about Rastriya beema -->
<section class="section section-intro grey lighten-3">
    <div class="container">
      <h5 class="center">{% trans "Welcome to Rastribyma Sasthan" %}</h5>
      <p>
          
        
        Rastriya Beema Sasthan is a government owned organization formed under decision of Government of Nepal, separate general insurance business of Rastrya Beema Sansthan(RBS) by mobilizing internal resources of Nepal.
      </p>
  
    </div>
  </section>


<!-- press news media release section -->
<section class="section media-section">
  <div class="container">
    <div class="row">
      <div class="col m4 s12">
        <h5 class="beema-color center">{% trans "Latest news" %}</h5>
        <div>
            <ul class="collection">
                <li class="collection-item avatar">
                  <img src="http://placehold.it/120x100" alt="" class="circle">
                  <span class="title">Bancassurance MOU signed between Asian Life and Mahalaxmi Development Bank</span>
      
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>

                <li class="collection-item avatar">
                    <img src="http://placehold.it/400x400" alt="" class="circle">
                    <span class="title"><a href="#!">Bancassurance MOU signed between Asian Life and Mahalaxmi Development Bank</a></span>
        
                    <a href="#!" class="secondary-content"><i class="material-icons blue">more</i></a>
                  </li>


                  <li class="collection-item avatar">
                      <img src="http://placehold.it/120x100" alt="" class="circle">
                      <span class="title">Bancassurance MOU signed between Asian Life and Mahalaxmi Development Bank</span>
          
                      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
               
              </ul>
        </div>
      </div>

      <div class="col m4 s12">
          <h5 class="beema-color center ">{% trans "Press release" %}</h5>
          <div>
              <ul class="collection">
                  <li class="collection-item avatar">
                    <img src="http://placehold.it/120x100" alt="" class="circle">
                    <span class="title">Bancassurance MOU signed between Asian Life and Mahalaxmi Development Bank</span>
        
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                  </li>
  
                  <li class="collection-item avatar">
                      <img src="http://placehold.it/120x100" alt="" class="circle">
                      <span class="title">Bancassurance MOU signed between Asian Life and Mahalaxmi Development Bank</span>
          
                      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
  
  
                    <li class="collection-item avatar">
                        <img src="http://placehold.it/120x100" alt="" class="circle">
                        <span class="title">Bancassurance MOU signed between Asian Life and Mahalaxmi Development Bank</span>
            
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                      </li>
                 
                </ul>
          </div>
        </div>



        <div class="col m4 s12">
            <h5 class="center beema-color">{% trans "Notices" %}</h5>
            <div>
                <ul class="collection">
                    <li class="collection-item avatar">
                      <img src="http://placehold.it/120x100" alt="" class="circle">
                      <span class="title">Bancassurance MOU signed between Asian Life and Mahalaxmi Development Bank</span>
          
                      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
    
                    <li class="collection-item avatar">
                        <img src="http://placehold.it/120x100" alt="" class="circle">
                        <span class="title">Bancassurance MOU signed between Asian Life and Mahalaxmi Development Bank</span>
            
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                      </li>
    
    
                      <li class="collection-item avatar">
                          <img src="http://placehold.it/120x100" alt="" class="circle">
                          <span class="title">Bancassurance MOU signed between Asian Life and Mahalaxmi Development Bank</span>
              
                          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                        </li>
                   
                  </ul>
            </div>
          </div>
    
  </div>
</section>

<!-- Why RBS -->
<section class="section section-intro grey lighten-3 black-text">
  <div class="container">
    
      <div class="row">
          <div class=" col m12 s12 left">
              <h5>{% trans "Why RBS?" %}</h5>
              <p class="text-flow">
                  Rastriya Beema Company Limited is a government owned public limited company (RBCL) formed under decision of Government of Nepal, separate general insurance business of Rastrya Beema Sansthan(RBS) by mobilizing internal resources of Nepal.
                  <br>
                  <a href="#!">More &gt;&gt;</a>
              </p>
          </div>
      </div>

      <div class="row">
          <div class="col s12 m4">
              <div class="card-panel hoverable panel-height">
                <h6 class="grey-text text-darken-3">{% trans "CLAIM HONOURED" %}</h6>
                <p class="beema-blue">91.2%</p>
                <br>
                <span class="text-flow align-center">Individual death claims settled in FY-2073-74. 571/588 claims honored, 17 claims rejected.</span>
                </div>
          </div>
          <div class="col s12 m4">
              <div class="card-panel hoverable panel-height">
                  <h6 class="grey-text text-darken-3">{% trans "TRUST ON BRAND" %}</h6>
                  <p class="beema-blue">91.2%</p>
                  <img class="center" src="{% static 'img/gon_logo.png' %}" alt="">
                  <br>
                  <span>Rastriya Beema Sasthan  is a government owned organization.</span>
                  
                 
                 
                </div>
          </div>
          <div class="col s12 m4">
              <div class="card-panel hoverable panel-height">
                  <h6 class="grey-text text-darken-3">{% trans "INSURANCE LEADER" %}</h6>
                  <p class="beema-blue  center">91.2%</p>
                  <img class="center" src="{% static 'img/insurance_leader.png' %}" alt="">
                  <br>
                  <span class="text-flow">We are one of the First, most reputed and leading  life insurance company in Nepal.</span>
                 
              </div>
          </div>
      </div>
  </div>

</section>

<!-- Branches -->
<section class="section section-intro grey darken-3 white-text">
  <div class="container">
      <h5 class="center white-text">{% trans "Our Branches" %}</h5>
      <div class="row">
        <div class="col m4 s12">
            <div class="card">
                <div class="card-content">
                  <span class="card-title grey-text  text-darken-3">Biratnagar</span>
                  <div class="grey-text"><i class="fa fa-phone"></i>&nbsp; +9818284095</div>
                  <div class="grey-text">Fax: &nbsp; 00977-1-4262610</div>
                  <p>
                    </p>
                </div>
                <!-- ADD LINKS -->
                <div class="card-action">
                  <a class="beema-color" href="#">Read More</a>
                
                </div>
            </div>
        </div>
        <div class="col m4 s12">
            <div class="card">
                <div class="card-content">
                  <span class="card-title grey-text text-darken-3">Pokhara</span>
                  <div class="grey-text"><i class="fa fa-phone"></i>&nbsp; +9818284095</div>
                  <div class="grey-text">Fax: &nbsp; 00977-1-4262610</div>
                  
                  <p>
                   </p>
                </div>
                <!-- ADD LINKS -->
                <div class="card-action">
                  <a class="beema-color" href="#">Read More</a>
                
                </div>
            </div>
        </div>
      </div>
  </div>
</section>

<script src="{% static 'js/ticker.min.js' %}"></script>

<script>
  $(document).ready(function () {
    $(".carousel").carousel({
      fullWidth: false,
      indicators: true,
      noWrap: true,
      duration:300,
    }); // initilize the carouse class. 
    // Enable slides. 
    $('.slider').slider();
    // Enable news ticker
    $('.newsticker').newsTicker({
      row_height: 20,
      max_rows: 1,
      speed: 600,
      direction: 'up',
      duration: 4000,
      autostart: 1,
      pauseOnHover: 0,
      prevButton: $('#prev-button'),
      nextButton: $('#next-button'),
    });


  });


</script> {% endblock content %}