{%  load i18n %}
<ul class="collection with-header">
    <li class="collection-header beema-blue"><h5 class="   beema-blue"><i
            class="fa fa-cloud-download" aria-hidden="true"></i> &nbsp;{% trans "Career" %} </h5>
    </li>

        <li class="collection-item"><a class="beema-blue" href="/career/vacencies/">
            <i class="fa fa-arrow-circle-right red-text  " aria-hidden="true"></i>
             {%  trans "Vacencies" %}
        </a>
        </li>

        <!-- Result -->
      <li class="collection-item"><a class="beema-blue" href="/career/results/">
            <i class="fa fa-arrow-circle-right red-text  " aria-hidden="true"></i>
             {%  trans "Results" %}
        </a>
        </li>




        <!-- Exam form -->
      <li class="collection-item"><a class="beema-blue" href="/career/exam-forms/">
            <i class="fa fa-arrow-circle-right red-text  " aria-hidden="true"></i>
             {%  trans "Exam Form" %}
        </a>
        </li>





</ul>